body{
	zoom:150%;
}
.footer{
	width:720px;
	text-align:right;
	margin:auto;
}
.center{
	text-align:center;
}
.outside{
	width:720px;
	margin:auto;
}
.inside{  
   width:720px;
   height:220px;
   border:1px solid #000;
   margin:auto;
}
.phot{
	width:300px;
	height:220px;
}
.product{
	width:400px;
	height:50px;
}
.price{
	width:200px;
	height:50px;
}
.contents{
	width:400px;
	height:100px;
}